@keyframes fadeIn{0%{opacity:0;transform:translateY(5px)}to{opacity:1;transform:translateY(0)}}.view-transition{animation:fadeIn .3s ease-out forwards;width:100%}body{background-color:#0f172a;overscroll-behavior-y:none}
